
/* Titles */
h2, h3 {
    color: rgb(0, 187, 255) ;
    font-size: 1.7rem;
    margin-top: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4{
    font-size: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-weight: bold;
    color: rgb(255, 0, 98);
}

h5{
    font-size: 1.2rem;
    padding-top: 0.3rem;
    font-weight: bold;
    color: rgb(115, 0, 255);
}

p{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li {
    margin-top: 0.5rem;
    font-size: 1.15rem;
    letter-spacing: 0.5px;
    transition:  0.4s ease-in;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* Titles */



/* Mark */
mark {
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 1px;
    border-radius: 1rem;
    padding: 0.3rem;
    background-color: rgba(127, 255, 161, 0.5);
}
.mark{
    background-color: rgba(127, 255, 212, 0.5);
    
}
.mark1{
    background-color: rgba(255, 127, 253, 0.5);
}
.mark2{
    background-color: rgba(255, 127, 155, 0.5);
}
.mark3{
    background-color: rgba(127, 255, 127, 0.5);
}
/* Mark */