<!-- carousel big width -->
<div class="accordian">
  <ul>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-1']">MySQL</a>
      </div>
      <a [routerLink]="['/post-1']">
        <img height="325px" src="../../assets/Home/SQL22.png" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-2']">Linq</a>
      </div>
      <a [routerLink]="['/post-2']">
        <img height="325px" width="600px" src="../../assets/Home/CheatSheet LINQ.jpg" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-3']">Git</a>
      </div>
      <a [routerLink]="['/post-3']">
        <img height="325px" width="600px" src="../../assets/Home/git-carousel2.png" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-4']">Proyecto Personal</a>
      </div>
      <a [routerLink]="['']">
        <img height="325px" width="600px" src="../../assets/Home/Proyecto pre-final Sprencia2.jpg" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-4']">QA</a>
      </div>
      <a [routerLink]="['/post-4']">
        <img height="325px" width="640px" src="../../assets/Home/QA-1.png" />
      </a>
    </li>
  </ul>
</div>