h2, h3 {
    color: orangered ;
    font-size: 1.7rem;
    margin-top: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4{
    font-size: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-weight: bold;
    color: orange;
}

p{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li {
    margin-top: 0.5rem;
    font-size: 1.15rem;
    letter-spacing: 0.5px;
    transition:  0.4s ease-in;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li:hover {
    transform: scale(1.02);
}


i{
    font-size: 1.05rem;
    color:rgb(23, 176, 23);
    font-weight: bold;
    letter-spacing: 1px;
}

b{
    font: 1.1rem;
    font-weight: bold;
    color: blueviolet;
}

mark {
    font-weight: bold;
}




    pre {
        background-color: azure;
        max-width: 700px;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
