* {
  margin: 0;
  padding: 0;
}


.wrapper {
  height: 1vh;
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.accordian {
  width: 1205px;
  height: 320px;
  overflow: hidden;
  margin: 100px auto;
}

.accordian ul {
  width: 2000px;
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid #ccc;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
  width: 40px;
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
  width: 640px;
}


.accordian li img {
  display: block;
}

/*Image title styles*/
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
  height: 50px;

}

.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;

}

@media(max-width:991px) {

  .accordian {
    display: none;
  }

  .wrapper {
    height: 1vh;
    display: grid;
    place-items: center;
    margin-top: 2rem;
  }

  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

}