<section class='section'>
  <div class='masthead-image' id='master-container'>
    <div class='content center'>
      <h1 id='master'>
        <div>Hello</div>
        <div id='master-container-scroller'>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Dev</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Developer</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Front-End</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Back-End</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>UI/UX designer</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>QA Tester</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Trainee</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Full Stack</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Future colleague</a>.
          </div>
          <div class='master-container-scroller_item'>Friend</div>
        </div>
        <div>Nice to see you.</div>
      </h1>
    </div>
  </div>
</section>