<section class='section'>
  <div class='masthead-image' id='master-container'>
    <div class='content center'>
      <h1 id='master'>
        <div>Hello</div>
        <div id='master-container-scroller'>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Dev</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Developer</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Front-End</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Back-End</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>UI/UX designer</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>QA Tester</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Trainee</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Full Stack</a>.
          </div>
          <div class='master-container-scroller_item'>
            <a class='cta-link' href='#'>Future colleague</a>.
          </div>
          <div class='master-container-scroller_item'>Friend</div>
        </div>
        <div>Nice to see you.</div>
      </h1>
    </div>
  </div>
</section>



<!-- carousel big width -->
<div class="accordian">
  <ul>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-1']">MySQL</a>
      </div>
      <a [routerLink]="['/post-1']">
        <img height="325px" src="../../assets/mysql_logo_icon.png" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-2']">Node JS</a>
      </div>
      <a [routerLink]="['/post-2']">
        <img height="325px" width="600px" src="../../assets/basesDatos (1).jpg" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-3']">Angular</a>
      </div>
      <a [routerLink]="['/post-3']">
        <img height="325px" width="600px" src="../../assets/Angular-material.jpg" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-4']">.NET</a>
      </div>
      <a [routerLink]="['/post-4']">
        <img height="325px" width="600px" src="../../assets/CheatSheet LINQ.jpg" />
      </a>
    </li>
    <li>
      <div class="image_title">
        <a [routerLink]="['/post-5']">CSS</a>
      </div>
      <a [routerLink]="['/post-5']">
        <img height="325px" width="640px" src="../../assets/MySQL3.png" />
      </a>
    </li>
  </ul>
</div>