<!-- ============================================
  ===================== MAIN =================== -->
<main class="py-3 mb-3">
  <div class="container">
    <div class="row">

      <!-- Col-md-6 -->
      <div class="col-md-6">
        <!-- Google Maps -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25060.473825229008!2d-0.7071917546988782!3d38.26652759904683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b42c4ece57a3%3A0xd9a5de7c6be724dd!2sElche%2C%20Alicante!5e0!3m2!1ses!2ses!4v1679243151490!5m2!1ses!2ses"
          width="620" height="400" style="border:0;" allowfullscreen></iframe>
      </div>
      <!-- /col-md-6 -->

      <!-- Col-md-6 -->
      <div class="col-md-6">
        <!-- Contact Form -->
        <h2 class="display-3">

        </h2>
        <div class="mb-1">
          <h4>
            <i class="far fa-envelope"></i>
            No dudes en ponerte en contacto conmigo
          </h4>
        </div>

        <!-- Input -->
        <form>
          <div class="row">
            <!-- Name -->
            <div class="col-md-6 pb-3">
              <input type="text" class="form-control input" name="name" data-form-field="Name" placeholder="Nombre"
                required="">
            </div>
            <!-- Phone -->
            <div class="col-md-6 pb-3">
              <input type="tel" class="form-control input" name="phone" data-form-field="Phone" placeholder="Telefono"
                required="">
            </div>
            <!-- Email -->
            <div class="col-md-12 pb-3">
              <input type="email" class="form-control input" name="email" data-form-field="Email" placeholder="Email"
                required="">
            </div>
            <!-- Message -->
            <div class="col-md-12 pb-3">
              <textarea class="form-control input" name="message" rows="3" maxlength="6000" data-form-field="Mensaje"
                placeholder="Message" style="resize:none"></textarea>
            </div>
            <div class="input-group-btn col-md-12">
              <button type="submit" class="btn btn-outline-success btn-form display-4">Enviar</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /col-md-6 -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>