header,
footer {
  background-color: rgba(3, 3, 3, 0.88);
}

a {
  transition: 0.3s ease-in;
  cursor: pointer;
}

a:hover {
  transform: scale(1.05);
  color: white;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
  color: rgb(33, 214, 112);
}



.nav-link,
.dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

nav li {
  padding: 0 18px;
}

nav li.active,
nav li.active:before {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navbar-toggler {
  background-color: rgb(33, 214, 112);
}


/* Footer */
.icon {
  transition: 0.3s ease-in;
}

.icon:hover {
  transform: scale(1.5);
  color: white;
}

.email {
  cursor: pointer;
}

@media(max-width:991px) {
  .logo {
    width: 230px;
    height: 60px;
  }
}