<!-- ============================================
  ===================== MAIN =================== -->
<main class="py-3 mb-3">
  <div class="container">
    <div class="row">

      <!-- POSTS -->
      <div class="col-md-9">
        <!-- Title -->
        <h2 class="text-danger">Black Panther Adventures</h2>
        <!-- Author -->
        <p class="lead">
          by
          <a [routerLink]="['/about']" class="text-decoration-none">Franco Alderete</a>
        </p>
        <!-- Date/Time -->
        <p>Publicado el dia 27 de Marzo, 2023 a las 16:15 PM</p>

        <!-- Preview Image -->
        <img src="../../assets/Angular2.png" class="img-fluid rounded" alt="Lego Panther">
        <!-- Post Content -->
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis sollicitudin nisl non dignissim.
          Phasellus hendrerit nisl et massa cursus suscipit. Donec pulvinar diam dolor, sit amet vestibulum purus
          faucibus posuere. Proin a nunc et felis
          aliquam sodales. Suspendisse dapibus ex a nulla faucibus, id venenatis risus facilisis. Nullam non aliquet
          odio. Phasellus et neque feugiat nunc auctor pretium eu quis magna. Praesent mattis metus vitae ornare
          hendrerit. Maecenas hendrerit
          nibh id commodo rhoncus.
        </p>
        <p>
          Vestibulum vehicula quam id quam lobortis convallis. Nullam quis pulvinar dolor. Pellentesque semper bibendum
          facilisis. Ut vitae interdum tortor. Etiam mattis dui ut dui pharetra, ac auctor ligula rhoncus. Lorem ipsum
          dolor sit amet, consectetur adipiscing
          elit. Integer lacus leo, scelerisque id commodo sed, feugiat at mi. Donec quis ex justo.
        </p>
        <img src="../../assets/Angular-material.jpg" class="img-fluid rounded" alt="Lego Panther">
        <p>
          In dictum ex orci, vitae ultricies ipsum sagittis et. Nam in risus non mauris dictum consequat ac vitae nisl.
          Vestibulum sed mauris gravida, rhoncus augue eget, finibus libero. Vivamus vel quam congue, vehicula elit eu,
          congue nulla. Cras at dui sit amet
          nibh pharetra aliquam. Morbi rhoncus metus metus, eget tincidunt libero mollis at. Donec ut sodales diam, quis
          finibus libero. Vivamus posuere pharetra nibh, nec tempor nulla. Integer vel mauris rhoncus, iaculis augue
          quis, scelerisque tellus.
        </p>

        <blockquote class="blockquote">
          <p class="mb-0">
            Nam nec lectus in nulla interdum ultrices mollis id dui. Duis sed sapien eu felis elementum scelerisque at
            ac nibh. Pellentesque vehicula sed turpis eget pellentesque. Phasellus ut sapien hendrerit, egestas diam ac,
            placerat felis. Vivamus pharetra odio
            quis placerat pulvinar.
          </p>
          <strong class="blockquote-footer">Someone in Gotham</strong>
        </blockquote>

        <p>
          In hac habitasse platea dictumst. Curabitur vulputate, nunc sed tempus vehicula, turpis urna mattis augue, sed
          lobortis urna magna id libero. Nam eget erat mattis, molestie lorem id, pharetra nisl. Suspendisse facilisis
          odio volutpat, porta dui in, sollicitudin
          augue. Integer id nisl ac neque pretium sollicitudin. In nibh lorem, faucibus ut mattis et, lacinia in ante.
          Nunc turpis elit, pellentesque at vestibulum a, dignissim non felis. Nullam vitae facilisis ex. Aenean ut
          volutpat quam. Proin ut
          varius metus. Pellentesque ut arcu nibh. Donec pretium, orci sit amet semper feugiat, quam massa sagittis
          felis, vel tempus neque nulla viverra magna. Pellentesque non blandit arcu, et blandit lacus. Quisque
          fringilla odio sapien, a molestie
          quam molestie nec. Suspendisse posuere mattis eros.
        </p>

      </div>