.img-fluid {
  height: 180px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h4 {
  transition: 0.2s ease-in;
  font-weight: bold;
}

h4:hover {
  transform: scale(1.1);
}


/* Gentleman Programming Section */
.gp {
  color: rgb(187, 23, 219);
}

@media(max-width:991px) {

  .img-fluid {
    margin: 0 auto;
  }
}