<app-carrusel></app-carrusel>
<app-carousel></app-carousel>
<!-- ============================================
  ===================== MAIN =================== -->
<main class="py-3 mb-3">
  <div class="container">
    <div class="row">

      <h1 class="text-center mb-5">Mis Artículos</h1>
      <!-- POSTS -->
      <div class="col-md-9">

        <!-- MySQl -->
        <div class="card flex-md-row mb-4 border-light shadow-sm h-md-250">
          <img class="card-img-left flex-auto d-none d-md-block" width="300px" height="200"
            src="../../assets/SQL22.png" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="card-title mb-2 text-info">SQL</h3>
            <p class="card-text mb-auto ">
              Es un sistema de gestión de bases de datos relacionales que se ha convertido en uno de los motores
              de base de
              datos más populares del mundo. Es una tecnología esencial para cualquier sitio web que requiera
              almacenamiento de datos,
              ya sea un blog personal, un sitio de comercio electrónico o una aplicación de redes sociales.
            </p>
            <a [routerLink]="['/post-1']" class="btn btn-outline-info mt-2 ">Leer más</a>
          </div>
        </div>
        <!-- Angular -->
        <div class="card flex-md-row mb-4 border-light shadow-sm h-md-250">
          <img class="card-img-left flex-auto d-none d-md-block" width="300" height="150"
            src="../../assets/git-logo.png" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="card-title mb-2 text-danger">Git</h3>
            <p class="card-text mb-auto">
              Es un framework de desarrollo web en JavaScript que se utiliza para crear aplicaciones web y
              móviles. Fue creado
              por Google y se basa en el patrón de arquitectura de software Modelo-Vista-Controlador (MVC), lo que
              lo
              hace muy
              estructurado y escalable. Angular se enfoca en la creación de aplicaciones de una sola página (Single
              Page
              Applications
              - SPA) y utiliza HTML, CSS y TypeScript. Ofrece muchas características útiles como enrutamiento,
              manejo de
              formularios,
              comunicación con servidores, animaciones y mucho más. Además, Angular tiene una gran comunidad de
              desarrolladores y está
              respaldado por Google, lo que lo convierte en una opción popular para el desarrollo de aplicaciones
              web.
            </p>
            <a [routerLink]="['/post-3']" class="btn btn-outline-info mt-2 ">Leer más</a>
          </div>
        </div>

        <!-- Entity Framwork -->
        <div class="card flex-md-row mb-4 border-light shadow-sm h-md-250">
          <img class="card-img-left flex-auto d-none d-md-block" width="400" height="250"
            src="../../assets/LINQ2.jpg" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="card-title mb-2 text-success ">LINQ</h3>
            <p class="card-text mb-auto">
              Es una tecnología en .NET que permite escribir consultas de manera sencilla y legible, y que proporciona una gran cantidad de operadores y métodos para manipular y transformar datos. Con LINQ, puedes trabajar con diferentes tipos de datos y realizar consultas asincrónicas para mejorar la eficiencia de tu código. LINQ es una herramienta valiosa para cualquier desarrollador .NET que quiera trabajar con datos de manera efectiva y eficiente.
            </p>
            <a [routerLink]="['/post-2']" class="btn btn-outline-info mt-2 ">Leer más</a>
          </div>
        </div>

        <h1 class="text-center mb-5">Canales Recomendados</h1>

        <div class="card flex-md-row mb-4 border-light shadow-sm">
          <img src="../../assets/GentlemanProgramming.jpg" class="img-fluid rounded-circle" width="170">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="gp card-title mb-2">GentlemanProgramming</h3>
            <p class="card-text mb-auto">
               Gentleman Programming, es una maravilla para quienes buscan reforzar conceptos en Angular y otras tecnologías de front-end. Alan es un experto en programación y ofrece cursos gratuitos en React, Angular, JavaScript y TypeScript. Además, sus videos son muy entretenidos y divertidos, lo que hace que el aprendizaje sea más ameno y agradable. Sin duda, un canal altamente recomendado para aquellos que buscan mejorar sus habilidades en programación y tecnología.
            </p>
            <a href="https://www.youtube.com/@GentlemanProgramming" Target='_blank'
              class="btn btn-outline-info mt-2 ">Ir al canal</a>
          </div>
        </div>

        <div class="card flex-md-row mb-4 mt-5 border-light shadow-sm h-md-250">
          <img class="card-img flex-auto" width="300" height="200" src="../../assets/fazt.jpg"
            class="img-fluid rounded-circle" width="170">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="gp card-title mb-2 text-danger">Fazt Tech</h3>
            <p class="card-text mb-auto">
              El contenido de Fazt abarca temas como HTML, CSS, JavaScript, Node.js, React, Angular y MongoDB, entre otros. Los videos son claros y bien estructurados, y el canal es ideal para aquellos que desean aprender a programar y desarrollar aplicaciones web de manera práctica y efectiva.
            </p>
            <a href="https://www.youtube.com/@FaztTech" Target='_blank' class="btn btn-outline-info mt-2 ">Ir al
              canal</a>
          </div>
        </div>

        <div class="card flex-md-row mb-4 mt-5 border-light shadow-sm h-md-250">
          <img class="card-img flex-auto" width="350" height="250" src="../../assets/midudev2.png"
            class="img-fluid rounded-circle" width="170">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="gp card-title mb-2 text-primary">MiduDev</h3>
            <p class="card-text mb-auto">
              Es un canal  de YouTube que se enfoca en la enseñanza práctica de programación y tecnología. Sus videos son claros y didácticos, y se centran en proyectos reales que permiten a los usuarios aplicar sus conocimientos en situaciones del mundo real.
            </p>
            <a href="https://www.youtube.com/@midudev" Target='_blank' class="btn btn-outline-info mt-2 ">Ir al
              canal</a>
          </div>
        </div>

        <div class="card flex-md-row mb-4 mt-5 border-light shadow-sm h-md-250">
          <img class="card-img flex-auto" width="350" height="250" src="../../assets/pildoras informaticas.jpg"
            class="img-fluid rounded-circle" width="170">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="gp card-title mb-2 text-success">PildorasInformaticas</h3>
            <p class="card-text mb-auto">
              Píldoras Informáticas es un canal de YouTube ideal para aquellos que desean aprender programación y tecnología de manera fácil y accesible. Su contenido es variado, completo y está diseñado para ser comprendido tanto por principiantes como por profesionales.
            </p>
            <a href="https://www.youtube.com/@pildorasinformaticas" Target='_blank'
              class="btn btn-outline-info mt-2 ">Ir al
              canal</a>
          </div>
        </div>

        


      </div>



      <!-- ============================================
        ==================== ASIDE =================== -->
      <div class="col-md-3 mx-auto mb-3 text-center">
        <div class="blog-sidebar p-2 shadow-sm rounded">
          <!-- About -->
          <h2>Sobre Mi</h2>
          <img src="../../assets/Avatar.png" class="img-fluid rounded-circle" width="170" alt="Franco Alderete">
          <h4>Franco Alderete</h4>
          <p class="text-start">
            Soy un desarrollador junior apasionado por la programación y estoy emocionado de compartir mi
            conocimiento y
            experiencia contigo. Me encanta trabajar en equipo para resolver problemas complejos y crear soluciones
            innovadoras.

            Como desarrollador, estoy constantemente aprendiendo nuevas habilidades y tecnologías para mantenerme
            actualizado en un
            campo que evoluciona rápidamente. Me gusta abordar nuevos desafíos y enfrentar problemas difíciles, lo
            que
            me permite
            crecer como profesional y encontrar formas creativas de abordar problemas de programación.

            En resumen, mi pasión por la programación me impulsa a mejorar constantemente y a encontrar soluciones
            innovadoras para
            problemas complejos. Estoy ansioso por continuar aprendiendo y creciendo en mi carrera como
            desarrollador.
          </p>
        </div>

        <div class="blog-sidebar p-2 shadow-sm rounded mt-5 ">
          <!-- About -->
          <h2>Esto te puede interesar DEV</h2>
          <img src="../../assets/download.png" class="img-fluid rounded-circle" width="200" alt="Rob Smith">
          <h3>Páginas recomendadas</h3>
          <p class="text-start">Aquí te dejo una lista de 5 páginas que pueden ser útiles para un desarrollador junior:
          </p>
          <a class="text-decoration-none" href="https://medium.com/" Target='_blank'>
            <h4 class="text-warning ">Medium</h4>
          </a>
          <p class="text-start">Una plataforma de evaluación técnica donde puedes practicar y mejorar tus habilidades de
            codificación mediante la
            resolución de desafíos y problemas de programación. </p>


          <a class="text-decoration-none" href="https://www.hackerrank.com/" Target='_blank'>
            <h4 class="text-success">HackerRank</h4>
          </a>
          <p class="text-start ">Un sitio web donde puedes encontrar artículos y tutoriales escritos
            por otros
            desarrolladores. Es una buena
            fuente de
            información y conocimiento sobre tecnología y programación.</p>

          <a class="text-decoration-none" href="https://codepen.io/" Target='_blank'>
            <h4 class="text-dark ">CodePen</h4>
          </a>
          <p class="text-start">Una plataforma en línea donde los desarrolladores pueden mostrar sus proyectos y
            experimentos de código en vivo. También
            es una fuente de inspiración y aprendizaje para otros desarrolladores</p>

          <a class="text-decoration-none" href="https://platzi.com/" Target='_blank'>
            <h4 class="text-info ">Platzi</h4>
          </a>
          <p class="text-start">Es una plataforma educativa en línea que ofrece cursos en español sobre tecnología,
            negocios y habilidades digitales.</p>

        </div>

      </div>
      <!-- /blog-aside -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>